@charset "utf-8";
*{list-style: none;margin: 0;padding: 0;text-decoration: none;font-family: 微软雅黑;}
#a1{height: 235px;width: 1903px;background-image: url(../images/3.png);
font-size: 15px;}
#a1 p{float: left;}
#a1 a:link{color: #e7e7e7;}
#a1 a:visited{color: #e7e7e7;}
#a1 a:hover{color: #e7e7e7;}
#a1 a:active{color: #e7e7e7;}
#a1 .a1a1{margin-left: 1280px;}
#a1a2{margin-left: 1400px;}
.a1a1{color: #ffffff;}
#a1a2 a:link{color:#ffffff;}
#a1a2 a:visited{color:#ffffff;}
#a1a2 a:hover{color:#ffffff;}
#a1a2 a:active{color:#ffffff;}
.a1a3{float: left;margin-left: 300px;}
#dw{position: absolute;top: 43px;left: -35px;}

#a2{width: 191px;height: 1002px;background-color: #e0ebf4;position: absolute;
top: 109px;left:473px;}
#a2 a:link{color:#616c72;}
#a2 a:visited{color:#616c72;}
#a2 a:hover{color:#616c72;}
#a2 a:active{color:#616c72;}
#a2 .a2a1{margin-top: 26px;margin-bottom: 10px;}
.a2a1a1{margin-left: 50px;}
.a2a2a1{margin-left: 50px;}
#a2 p{font-size: 15px;}
#a2 .a2a3{position: absolute;top: 280px;margin-left: 8px;}

#a3{width: 763px;height: 1004px;background-color: #f8fdff;float: left;margin-left:191px; 
margin-top: -140px;}
#a3 img{margin-left: 70px;margin-top: 30px;margin-bottom: 30px;}
#a3 h2{margin-left: 70px;}
#a3 hr{margin-left: 70px; width: 610px;}

.a3a1{margin: 26px 0 26px 165px ;}
.a3a2{margin: 26px 0 26px 165px ;}
.a3a3{margin: 26px 0 26px 135px ;}
.a3a4{margin: 26px 0 26px 165px ;}
.a3a5{margin: 26px 0 26px 165px ;}
.a3a6{margin: 26px 0 26px 150px ;}
#a3a7{margin: 26px 0 5px 135px ;}

#a3  .a3a1a1{height: 33px;width: 303px;border: 1px solid #c0d0d8;
background-color:#f3f9fc; }
#a3 .a3a1a1:hover{background-color:#ffffff;}
#a3a7 span{font-size: 12px;margin-left: 72px;}
#a3a7 a{font-size: 12px;color: #8ecbf1;}
#a3a7 a:link{color: #8ecbf1;}
#a3a7 a:visited{color: #8ecbf1;}
#a3a7 a:hover{color: #8ecbf1;}
#a3a7 a:active{color: #8ecbf1;}
.a3a8{margin :5px 0 26px 205px;height: 52px;width:305px;background-color: #69b946;
color:#ffffff;font-size: 25px; }
.a3a9{margin-left: 205px;font-size: 12px;}
#a3a9a1{width: 15px;border: none;}
#a4{font-size: 12px;color: #a6a6a6; position: absolute;top: 1120px;left: 770px;
margin: 25px 0 25px 0 ;}