html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	color: black;
	background: white;
	
}
ol, ul {
	list-style: none;
}

/* self-clear floats */
*{transition: all 0.5s ease 0s;}
.clearfix:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }

#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 960px; 

}

header {
	background-position: 0 top;
	background-repeat: repeat-x;
	background-image: url(../img/buntingSlice3.png);
	margin-right: 10px;
	margin-left: 10px;
	width: 940px;
}

#logo { 
	display: block; 
	padding-top: 75px; 
	color: #0d0c0c; 
	text-transform: uppercase; 
	font-family: Arial, "Lucida Grande", Verdana, sans-serif; 
	font-size: 48px;
}

#logo span { color: #dfdada; }

nav { 
	padding-bottom: 25px; 
	margin-top: 26px; 
	width: 960px;
	background-repeat: repeat-x; 
	background-image: url(../img/atwiNavBg.png); 
	border-bottom-color: #bfbfbf; 
	border-bottom-style: double; border-bottom-width: 4px; 
	position: relative;
}

nav ul li { 
	display: block;
	width:160px;
	text-align:center;
	float:left;
	
	
}
nav ul li.current{background-color:#093}
nav ul li:hover{background-color:#093}


nav ul li a { 
	height: 42px; 
	line-height: 42px; 
	text-decoration: none; 
	text-transform: uppercase; 
	font-family: Arial, "Lucida Grande", Verdana, sans-serif; 
	font-size: 27px;  
	color: black;
	display: block;  
}
nav ul li a:hover {
 -webkit-transform: rotate(-360deg); 

} 
#content {
	margin-top: 58px;
	margin-right: 10px;
	float: right;
	width: 698px;
}

.oscarMain { 
	float: left; 
	margin-top: -28px; 
	width: 202px; 
	
}

#content h1 { 
	font-family: Arial, Helvetica, Verdana, sans-serif; 
	text-transform: uppercase; 
	font-size: 69px; } 
#content h1 div {
	font-size: 12px;
	color: red;
	font-weight:900;
	display:inline-block;
	text-align: center;
	-webkit-animation: warning 5s infinite linear ;
}
@-webkit-keyframes warning {
	from {
		 -webkit-transform: rotateY(0deg);
	}
	50% {
		 -webkit-transform: rotateY(180deg);
	}
	to {
		 -webkit-transform: rotateY(360deg);
	}
}
#content p  { 
	display: block; 
	line-height: 40px;
	color: #757474; 
	font-size: 24px;
}
#content a { text-decoration: none;
font: 36px ;
background-color: #b01c20;
border-radius: 8px; 
color: #ffffff; padding: 20px; 
float: left; 
background: linear-gradient(90deg, #b01c20 0%, #f15c60 100%); 
margin-top: 30px; 
box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8); 
text-shadow: 0px 1px black; 
border: 1px solid #bfbfbf;
transition: all 1s ease 0s;  } 

#content a:hover { border: 1px solid #000000; 
color: #000000; 
text-shadow: 0px 1px white; }



aside {
	border-right-color: #e8e8e8;
	border-right-style: solid;
	border-right-width: 2px;
	margin-top: 58px;
	padding-right: 10px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	width: 218px;
}

aside h1 { margin-bottom: 10px; font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size: 1em; font-weight:bold  }
.overHyped { margin-top: 27px; }
.sideBlock {
	width: 218px;
}
.sideBlock img{
	width: 103px;
}
.moreInfo {
	padding: 5px 0px 5px 0px;
	color: #5c5959;	
	display: block;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 16px;
	border-radius: 8px;
	border: 1px solid #999;
	max-width: 100%;
}
.sideBlock a {
	width: 103px;
	text-decoration: none;
	float: left;
	margin-right: 6px;
	
}
footer {
	padding-bottom: 43px;
	float: left;
	margin-top: 20px;
	padding-top: 33px;
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-image: url(../img/buntingSlice3Invert.png);
	margin-right: 10px;
	margin-left:10px;
	clear: both;
	width: 940px;
	border-top-color: #bfbfbf; border-top-style: double; border-top-width: 4px;
}
footer p {
	margin-bottom: 38px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	text-transform: uppercase;
	color: #757474;
}




